---
import testimonial from "../config/testimonials.json";

---

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-24 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <p class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Los favoritos de la gente</p>
            <p class="font-light text-gray-500 lg:mb-8 sm:text-xl dark:text-gray-400">Explore the whole collection of open-source web components and elements built with the utility classes from Tailwind</p>
        </div> 
        <div class="grid gap-8 md:grid-cols-3">
            {testimonial.map((testimonial) => (
                <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                    <div class="py-2 px-5">
                    <div class="inline-flex gap-3 justify-center items-center">
                        <a href={testimonial.url}><img class=" w-28 rounded-md" src={testimonial.img} alt={testimonial.imgAlt}></a>
                        <div class="flex-col w-full justify-between">
                            <div class="inline-flex justify-center items-center gap-3">
                                <p class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">{testimonial.person}</p>
                                <div class="inline-flex items-center bg-gray-100 px-2.5 py-0.5 rounded-full dark:bg-gray-700">
                                    <svg class="w-4 h-4 mr-1 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>
                                    <p class="text-gray-800 text-xs font-medium mr-1 dark:text-gray-300">{testimonial.rating}</p>                                </div>
                            </div>
                            <a href={testimonial.url}><h3 class="text-blue-600 dark:text-blue-500 cursor-pointer hover:underline mt-1">{testimonial.title}</h3></a>
                        </div>
                    </div>
                    <p class="my-2 font-light text-gray-500 dark:text-gray-400">{testimonial.description}</p>
                </div> 
            </div>
            ))}
        </div>  
    </div>
  </section>